.image-container {
  margin: 3em auto;
  width: 60%;
  position: relative;
}

.image {
  width: 100%;
}

@media (min-width: 700px) {
  .image-container {
    display: inline-block;
    width: 25%;
    margin: 3em 1em;
  }
}

.image.hidden {
  visibility: hidden;
}

.beer-info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.beer-info.hidden {
  display: none;
}
