.image-container {
  margin: 3em auto;
  width: 60%;
}

.image {
  width: 100%;
}

@media (min-width: 700px) {
  .image-container {
    display: inline-block;
    width: 25%;
    margin: 3em 1em;
  }
}

.category-header {
  font-size: 2em;
  background: rgb(156, 58, 65);
  padding: 0.5em 0;
}

.beer-category:first-of-type {
  margin-top: 0;
}

.beer-category {
  text-align: center;
  margin: 1em 0;
}
