.user-change-password-table {
  display: table;
}

.user-change-password-row {
  display: table-row;
}

.user-change-password-row div,
.user-change-password-row input {
  display: table-cell;
  padding: 0.5em;
  margin: 1em;
}
