.category-header {
  font-family: Jaapokki, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 2em;
  background: rgb(156, 58, 65);
  padding: 0.5em 0;
}

.beer-category:first-of-type {
  margin-top: 0;
}

.beer-category {
  text-align: center;
  margin: 1em 0;
}
