.image-container {
  margin: 3em auto;
  width: 80%;
  position: relative;
}

.beer-name {
  font-size: 2em;
}

.image {
  width: 100%;
}

@media (min-width: 700px) {
  .image-container {
    display: inline-block;
    width: 25%;
    margin: 3em 1em;
  }
}

.image.hidden {
  visibility: hidden;
}

.beer-info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;

  cursor: pointer;
}

.beer-info.hidden {
  display: none;
}

.beer-text-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.beer-text div {
  display: inline;
}

.fat-text {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
}

.beer-div-entity {
  display: inline-block;
  margin: 0 1em;
}

.beer-div-entity-header {
  font-weight: bold;
}

.beer-div-entity-header-separator {
  margin: 0 0.1em;
}
