.header {
  text-align: center;
}

.header-image {
  width: 50%;
  margin: 2.5em 0 1em 0;
}

.split-entity {
  margin-bottom: 3.55em;
}

.split-header {
  font-family: Jaapokki, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
}

.split-info,
.contact-info {
  margin: 2em 0;
}


@media (min-width: 700px) {
  .split-entity {
    display: inline-block;
    width: 50%;
    vertical-align: text-top;
  }

  .header-image {
    margin: 3em 0;
  }

  .split-header {
    font-size: 2em;
  }
}
